<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>ChumChonMusic</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <h1 align="center">ChumChonMusicDB</h1></br>
            <center><a href="/student" class="btn btn-primary" >ตารางรายชื่อนักเรียน</a></center></br>
            <center><a href="/teacher" class="btn btn-success" >ตารางรายชื่อครูสอนดนตรี</a></center>
        </div>
    </body>
</html>
